body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #DFEFF4; */
}


/********header style*****************/
.chatbot-container {
  background-color: #d6efc7;
  width: 550px;
  height: auto;
  margin: 30px auto;
  box-shadow: none;
  }
  .title {
  padding: 15px 10px;
  font-size: 2.2rem;
  font-family: cursive;
  font-weight: bold
  
  }
  .chatbot-header{
  
  background-color: #9cf196;
  height: auto;

  }
  .aboutBot { 
   
  }
  span {
    margin: 0 10px 10px 15px;
    margin: 0 15px 15px 15px;
    font-family: cursive; 
  }
  .chatbot-body {
    height: 430px;
  }
  .engine {
  width: 250px;
  height: auto;
  margin: 50px 0 0 20px;
  background: #d291bc;
  border-radius: 10px;
  }
.textchat {
  margin: 20px 10px;
  padding: 15px 10px;
  
  }
  .user {
    width: 250px;
    height: auto;
    margin: 50px 50px 50px 20px;
    position: relative;
    top: 300px;
    left: 40%;
    background-color: #ffcac2;
    border-radius: 10px;
  }

  textarea {
    width: 90%;
  margin-left: 25px;
  border-radius: 15%;
  box-sizing: content-box;
  border-color: #9cf196;
  border-width: medium;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 20px;
  background-color: #f4f6ff;
  padding: 5px 5px;
  }
  .submit {
  position: relative;
  left: 440px;
  bottom: 32px;
  
  }
  

.input {
  padding:40px;
}

.form-control {
  background-color: #DFEFF4;
  border-color:#56CCF2;
  border-right: none;
  border-radius: 5px;
}

.svg {
  border: 1px solid #56CCF2;
  border-left: none;
  padding: 0 0.4rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #DFEFF4;
}

.send {
  color: red;
}

.footer {
  text-align: center;
  color: #56CCF2;
  padding: 20px;
  position: relative;
  
}

.footer-link {
  display: inline;
  margin: 30px;
}
.input-group {
position: relative;
top: 100px;

}